<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Server=REBECA-GOG\SQLEXPRESS01;Database=Zbor;Integrated Security=true;
                TrustServerCertificate=true;"></add>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

	<appSettings>
		<!--<add key="parentTableName" value="Zbor"/>
		<add key="childTableName" value="Companie"/>
		<add key="parentNrColumns" value="3"/>
		<add key="childNrColumns" value="6"/>
		<add key="parentColumnNames" value="idZbor,orasPlecare,orasDestinatie"/>
		<add key="primarykey" value="idZbor"/>
		<add key="childColumnNames" value="idCompanie,rating,nume,idZbor,idDirector,idAngajat"/>
		<add key="childColumnNamesInsertParam" value="@idCompanie,@rating,@nume,@idZbor,@idDirector,@idAngajat"/>
		<add key="selectAllParent" value="Select * from Zbor"/>
		<add key="selectAllChild" value="Select * from Companie"/>
		<add key="updateChild" value="Update Companie SET rating=@rating, nume=@nume, idZbor=@idZbor, idDirector=@idDirector, idAngajat=@idAngajat WHERE idCompanie=@idCompanie"/> 
		<add key="deleteChild" value="DELETE FROM Companie WHERE idCompanie=@idCompanie"/>
		<add key="insertChild" value="INSERT INTO Companie (idCompanie,rating,nume,idZbor,idDirector,idAngajat) VALUES (@idCompanie,@rating,@nume,@idZbor,@idDirector,@idAngajat)"/>-->

		<add key="parenttablename" value="bagaj"/>
		<add key="childtablename" value="pasager"/>
		<add key="parentnrcolumns" value="3"/>
		<add key="childnrcolumns" value="3"/>
		<add key="primarykey" value="idbagaj"/>
		<add key="parentcolumnnames" value="idbagaj,greutate,categorie"/>
		<add key="childcolumnnames" value="idpasager,nume,idbagaj"/>
		<add key="childcolumnnamesinsertparam" value="@idpasager,@nume,@idbagaj"/>
		<add key="selectallparent" value="select * from bagaj"/>
		<add key="selectallchild" value="select * from pasager"/>
		<add key="updatechild" value="update pasager set nume=@nume, idbagaj=@idbagaj where idpasager=@idpasager"/>
		<add key="deletechild" value="delete from pasager where idpasager=@idpasager"/>
		<add key="insertchild" value="insert into pasager (idpasager, nume, idbagaj) values (@idpasager, @nume, @idbagaj)"/>

	</appSettings>
</configuration>